<style>
    .container {
        width: 1350px;
    }
</style>
<nav>
    <!--<button type="button" class="btn btn-sm btn-warning" ng-click="openAddTool(article);">-->
        <!--<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>-->
        <!--<span class="btn-txt">Ajouter Nouveau Outil</span>-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-sm btn-info" ng-click="openAddMvt('TOOL');">-->
        <!--<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>-->
        <!--<span class="btn-txt">Ajouter un mouvement</span>-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-sm btn-info" ng-click="openOrderInternal(c);">-->
        <!--<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>-->
        <!--<span class="btn-txt">Préparer Commande Etage</span>-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-sm btn-info" ng-click="go('/RVA/FinalizeOrder');">-->
        <!--<span class="glyphicon glyphicon-save" aria-hidden="true"></span>-->
        <!--<span class="btn-txt">Finaliser Commande Etage</span>-->
    <!--</button>-->
</nav>

<div class="table-responsive">
    <div class="panel panel-travaux">

        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8">

                    <ui-select id="filterAgent" ng-model="filterAgent.orderCartridge" theme="bootstrap" reset-search-input="true" style="width: 250px;">
                        <ui-select-match placeholder="Chercher Demandeur(se)  ...">
                            <span>{{$select.selected.lName + ' ' + $select.selected.fName | limitTo : 30}}</span>
                            <button class="clear" ng-click="clear('filterAgent')">X</button>
                        </ui-select-match>
                        <ui-select-choices repeat="l in items | unique:'lName' | orderBy:'lName' | filter: $select.search">
                            <small ng-bind-html="l.fName | highlight: $select.search"></small>
                            <small ng-bind-html="l.lName | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>

                    <ui-select id="filterArticle" ng-model="filterArticle.orderCartridge" theme="bootstrap" reset-search-input="true" style="width: 350px;">
                        <ui-select-match placeholder="Chercher article...">
                            <span>{{$select.selected.name_article + ' / ' + $select.selected.code_barre | limitTo : 40}}</span>
                            <button class="clear" ng-click="clear('filterArticle')">X</button>
                        </ui-select-match>
                        <ui-select-choices repeat="l in items | unique:'name_article' | orderBy:'name_article' | filter: $select.search">
                            <small ng-bind-html="l.name_article | highlight: $select.search"></small> /
                            <small ng-bind-html="l.code_barre | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>

                    <!--<ui-select id="filterFamily" ng-model="filterFamily.location" theme="bootstrap" reset-search-input="true" style="width: 250px;">-->
                        <!--<ui-select-match placeholder="Chercher Famille...">-->
                            <!--<span>{{$select.selected.name_family | limitTo : 30}}</span>-->
                            <!--<button class="clear" ng-click="clear('filterFamily')">X</button>-->
                        <!--</ui-select-match>-->
                        <!--<ui-select-choices repeat="l in items | unique:'name_family' | orderBy:'name_family' | filter: $select.search">-->
                            <!--<small ng-bind-html="l.name_family | highlight: $select.search"></small>-->
                        <!--</ui-select-choices>-->
                    <!--</ui-select>-->

                    <!--<select id="filterStatus" ng-model="filterTool.nom"  data-ng-change="changeFilter()" data-style="btn-info" >-->
                        <!--<option value="">Tous les Outils</option>-->
                        <!--<option ng-repeat="t in items | unique:'quantite_current' " value="{{t.quantite_current}}" on-finish-render="ngRepeatFinished" data-icon="glyphicon glyphicon-filter" >-->
                            <!--{{t.quantite_current}}-->
                        <!--</option>-->
                    <!--</select>-->

                    <!--<select id="filterFamily" ng-model="filterFamily.name_family"  data-ng-change="changeFilter()" data-style="btn-info" >-->
                        <!--<option value="">Tous les Famille</option>-->
                        <!--<option ng-repeat="t in items | unique:'name_family' " value="{{t.name_family}}" on-finish-render="ngRepeatFinished" data-icon="glyphicon glyphicon-filter" >-->
                            <!--{{t.name_family}}-->
                        <!--</option>-->
                    <!--</select>-->
                </div>
                <div class="col-md-4">
                    <!--<div class="sw-search filter-tool" >-->
                        <!--<div class="nav-search" id="nav-search">-->
                            <!--Filter: <span class="input-icon">-->
                                <!--<input placeholder="Filter Liste Outils ..." class="nav-search-input" ng-model="filterLine" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;">-->
                                <!--<i class="search-icon fa fa-search nav-search-icon"></i>-->
                            <!--</span>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table data-toggle="table" fixed-table-headers="scrollable-area" data-cache="false" data-height="200" class="table table-hover table-striped" data-height="200" >
                <tr ng-show="items.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;Aucune donnée trouvée.</td></tr>
                <tr ng-hide="items.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
                <thead>
                <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>
                </thead>
                <tbody>
                <tr ng-repeat="t in (filtered = (items
                | filter : filterAgent.orderCartridge.lName : true
                | filter : filterArticle.orderCartridge.code_barre : true
                | filter : search
                ))
                | startFrom :(currentPage-1)* entryLimit
                | limitTo : entryLimit
                "
                    id="{{t.id_stock}}"
                    animate-on-change=''
                    ng-animate="'animate'" >
                    <td>{{t.id_order_cartridge}}</td>
                    <td>{{t.lName + ' ' + t.fName}}</td>
                    <td>{{t.name_service}}</td>
                    <td>{{t.name_article + ' ' + t.mark + ' ' + t.code_barre}}</td>
                    <td> <span class="glyphicon glyphicon-tint " ng-class="{b:'blacK', c:'Cyan', m:'Magenta', y:'Yellow'}[t.color_cartridge]" ></span></td>
                    <td>{{t.description_article}}</td>
                    <td>{{t.date_created}}</td>

                    <td>
                        <button type="button" class="btn btn-default fa fa-edit" class="btn" ng-click="openAddMvt(t);"></button>
                    </td>
                    <td>
                        <button id="btn-status-stock" data-ng-hide="" data-ng-disabled=""
                                class="btn" ng-class="{Active:'btn-success', Inactive:''}[t.status]" ng-click="changeMaterialStatus(t);">
                            {{t.status}}</button>
                    </td>
                    <!--<td><button class="btn" ng-class="{Active:'btn-success', Inactive:''}[t.status]" ng-click="changeitemstatus(c);">{{t.status}}</button></td>-->
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-10">
                    <pagination
                            ng-model="currentPage"
                            total-items="items.length"
                            max-size="10"
                            boundary-links="true">
                    </pagination>
                </div>
                <div class="col-md-2">Total de Stocks : <strong> {{filtered.length}} </strong></div>
            </div>
        </div>
    </div>
</div>